# Python
__pycache__/
*.py[cod]
venv/
env/

# AI / Models
*.pt
*.pth
*.bin
*.safetensors
.cache/
huggingface/
outputs/
checkpoints/

# Data
data/
datasets/
logs/
*.log

# Git
.git/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
